<!DOCTYPE html>
<html>
<head>
  <title>TheUltimatePm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to "Home", homey_path %></li>
  <li><%= link_to "About", about_path %></li>
</ul>



<%= yield %>

</body>
</html>
